# =========================
# Visual Studio
# =========================
.vs/
.vscode/

# =========================
# Build Folders (All Projects)
# =========================
bin/
obj/

# =========================
# User Specific Files
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
Thumbs.db
.DS_Store

# =========================
# Rider / Resharper
# =========================
.idea/
_ReSharper*/
*.DotSettings.user

# =========================
# NuGet
# =========================
packages/
*.nupkg

# =========================
# Publish Output
# =========================
publish/
wwwroot/

# =========================
# IIS Express
# =========================
iisexpress/

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# Test Results
# =========================
TestResults/
